.head_sec {
  font-size: 55px;
  color: white;
  margin-top: 100px;
}

@media screen and (max-width: 1116px) {
  .head_sec {
    margin-top: 30px;
  }
}

@media screen and (max-width: 991px) {
  .head_sec {
    font-size: 40px;
    margin-top: 70px;
  }
}

@media screen and (max-width: 827px) {
  .desc_sec {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .img_sec {
    display: none;
  }

  .desc_sec {
    margin-bottom: 100px;
  }
}
