.iconStyle1 {
  width: 27px;
  height: 33px;
  margin-top: 30%;
  color: #ff7588;
}

.iconStyle2 {
  width: 27px;
  height: 33px;
  margin-top: 25%;
  color: #7a65ff;
}

.iconStyle3 {
  width: 27px;
  height: 33px;
  margin-top: 28%;
  color: #ffaa8f;
}

.myStyle {
  content: "";
  width: 70px;
  height: 70px;
  background: #fff4f5;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-right: 15px;
  text-align: center;
}

.featuresSec {
  display: flex;
  align-items: center;
}

.pstyle {
  color: #666666;
  font-size: 15px;
}

.head_sec {
  font-size: 50px;
  font-weight: bold;
}

@media screen and (max-width: 1199px) {
  .head_sec {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 991px) {
  .img_sec {
      margin: auto;
  }
}
